@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

/* h1, h2, h3, h4, h5, h6, p, a, li, td, th  {
    font-family: 'Roboto', sans-serif;
} */

/* Colors
    limeish green (Header)- #BDE038
    greenish brown (Footer Text)- #A3AB78
    gray (Background and Shading)- #818274
    blueish gray (Header Text and link color)- #506266
    teal (Footer)- #10454F
*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

main {
    padding: 1rem;
    margin-bottom: 1rem;
}

footer {
    padding: 1rem;
    margin-top: 2rem;
    width: 100%;
    background-color: #10454F;
    color: #A3AB78;
    border-bottom: 2px solid #818274;
}

img {
    height: 200px;
}

nav {
    border-bottom: 2px solid #818274;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
}

.recipe-rating p {
    margin: 0;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
}

a:hover {
    color: green;
}

.recipe-ingredients table tbody tr:nth-child(even) {
    background-color: #33818274;
}

header {
    background-color: #BDE038;
    width: 100%;
}

header nav a {
    color: #506266;
}

.recipes-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.recipe-content {
    justify-self: center;
}

footer p {
    margin: 0;
    padding: 1rem 0;
}

.link-to-detail a {
    color: #818274;
    /* text-shadow: 1px 1px #000; */
}

table, th, td {
    border: 1px solid #818274;
    padding: 4px;
}
